<div>
    <h1>Olá,</h1>
    <p>
        Sou Yuri Willian, desenvolvedor de software júnior, especialista em tecnologia e desenvolvimento web, 
        com mais de 7 anos de experiência na área de T.I. Minha trajetória começou em 2017, quando atuei como 
        monitor de sala e responsável pela manutenção de computadores, auditorias e suporte técnico.
    </p>

    <p>
        Ao longo dos anos, passei por diferentes setores, como área administrativa e suporte de T.I, sendo 
        responsável por hardware, software, infraestrutura de rede e firewall. Essas experiências me deram 
        uma visão ampla sobre tecnologia e operações.
    </p>

    <p>
        Trabalho com desenvolvimento web há 4 anos e já publiquei 3 projetos na web, além de mais de 20 projetos 
        pessoais e acadêmicos. Atuei como Desenvolvedor Júnior na NTT Data, onde trabalho em um projeto 
        do Bradesco como frontend Angular, utilizando metodologia SCRUM.
    </p>

    <p>
        No meu dia a dia sigo padrões de acessibilidade (WAI-ARIA), aplico testes unitários com Jest para garantir 
        confiabilidade do código e aplico conceitos modernos como Server Driven UI e BFF (Back For Front).
    </p>
</div>